<div class="container  flex-wrap bg-gray-900  p-4 mt-3 rounded flex item-center justify-between">
    <a href="/admin/upload" class="border-2 my-1 border-gray-200 px-4 py-6  text-white rounded">
        <span class="material-icons md-36">
            add_circle
        </span>
        <h2 class="title-font font-medium text-3xl text-white">Add Item</h2>

    </a>
    <a href="/admin/orders/" class="border-2 my-1 border-gray-200 px-4 py-6  text-white rounded">
        <span class="material-icons md-36">
            shopping_bag
        </span>
        <h2 class="title-font font-medium text-3xl text-white">Orders</h2>

    </a>
    <a href="" class="border-2 my-1 border-gray-200 px-4 py-6  text-white rounded">
        <span class="material-icons md-36">
            person_add
        </span>
        <h2 class="title-font font-medium text-3xl text-white">Add Admin User</h2>

    </a>
</div>