<header class="flex justify-between p-3.5	border-b-2 border-blue-400 items-center bg-gray-100">
    <div class="brand mx-3 text-gray-900 font-bold font-sans text-lg">Aamir Enterprises</div>
    <nav class="mx-3">
        <a href="" class="font-semibold mr-1">Home</a>
        <a href="" class="font-semibold mr-1">About</a>
        <a href="" class="font-semibold mr-1">Contact</a>
        <a href="" class="font-semibold mr-1">Cart</a>
        <a href="" class="font-semibold mr-1">Track</a>
    </nav>
    <div class="cart">
        <span class="material-icons mx-1">
            shopping_cart
        </span>
        <span class="material-icons mx-1">
            account_circle
        </span>
    </div>
</header>