<header>

    <div class="mobile-nav  ">
        <div class="flex h-12 p-3 border-b border-blue-400 flex justify-between item-center">
            <div class="flex">
                <div class="mr-1">
                    <span class="material-icons ">
                        account_circle
                    </span>
                </div>
                <div>
                    <% if(user) { %>
                        <b class=" text-xs sm:text-base ">
                            <%- user.name%>
                        </b>
                        <% } else { %>
                            <a href="">
                                <b">Hello, Sign in</b>
                            </a>
                            <% } %>
                </div>
            </div>
            <div class="times">
                <span class="material-icons">
                    close
                </span>
            </div>
        </div>
        <div class="px-3">
            <ul class="list-none flex flex-col my-1 ">
                <li class="p-1 border-b"> <a href="/" class="font-semibold mr-1">Home</a></li>
                <li class="p-1 border-b"><a href="" class="font-semibold mr-1">About</a></li>
                <li class="p-1 border-b"><a href="" class="font-semibold mr-1">Contact</a></li>
                <li class="p-1 border-b"><a href="" class="font-semibold mr-1">Cart</a></li>
                <li class="p-1 border-b"><a href="" class="font-semibold mr-1">Track</a></li>
            </ul>
        </div>
    </div>
    <div class="flex justify-between p-3.5	border-b-2 border-blue-400 items-center ">
        <button class="hamburger  ">
            <span class="material-icons md-36  ">
                menu
            </span>
        </button>
        <div class="brand mx-3 text-gray-900 font-bold   sm:text-lg  font-sans ">Aamir Enterprises
        </div>
        <nav class="mx-3 middle">
            <a href="/" class="font-semibold mr-1">Home</a>
            <a href="" class="font-semibold mr-1">About</a>
            <a href="" class="font-semibold mr-1">Contact</a>
            <a href="" class="font-semibold mr-1">Cart</a>
            <a href="" class="font-semibold mr-1">Track</a>
        </nav>
        <div class="cart flex items-center">
            <a href="/cart" class="inline-flex items-center border-1 border-blue-400 sm:px-4 sm:py-1.5  px-1.5 py-1.5 mr-1 rounded cursor-pointer">
                <span class="material-icons">
                    shopping_cart
                </span>
                <span class="text-lg" id="cart-length">0</span>
            </a>
            <div class="flex item-center">
                <% if(user) { %>
                    <a href="#" class="profile inline-flex items-center  ">
                        <span class="material-icons md-36 blue500">
                            account_circle
                        </span>
                    </a>

                    <% } else { %>
                        <a href="/signup" class=" sign Up inline-flex text-white bg-indigo-500 border-0 px-6 mr-2 py-2 focus:outline-none hover:bg-indigo-600 rounded text-lg">Sing
                            Up</a>
                        <% } %>
            </div>
        </div>
    </div>
</header>