<section class="container my-3" id="cartItems">
    <div class="flex flex-col ">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                            <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Name
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Totel Items
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Price
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Totel Price
                                </th>
                                <th scope="col" class="relative px-6 py-3">
                                    <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tbody" class="bg-white divide-y divide-gray-200">


                            <!-- More items... -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-indigo-600  my-2 rounded ">
        <div class=" p-3 flex justify-between sm:flex-col items-center flex-row">
            <div class="text-white font-bold" id="totelOfItems">

            </div>
            <div class="">
                <%if(user && user.verify==='true' ) { %>
                    <a href="/checkout" class="flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-indigo-600 bg-white hover:bg-indigo-50">
                        Buy Now
                    </a>
                    <% }else if(!user) {%>
                        <a href="/signin" class="flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-indigo-600 bg-white hover:bg-indigo-50">
                            Sign In
                        </a>
                        <% } else{%>
                            <a href="/verify" class="flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-indigo-600 bg-white hover:bg-indigo-50">
                                Verify Email
                            </a>
                            <% } %>
            </div>

        </div>
    </div>

</section>
<script>
    let LocalCart = JSON.parse(localStorage.getItem('Cart'))
    let Cart_items = document.getElementById('cartItems')
    if (Object.keys(LocalCart).length == 0) {
        Cart_items.innerHTML = `<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
      <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-900">Your Cart is Blank Add Items to Cart</h1>
      <a href="/" class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0">Add</a>
    </div>
  </div>
</section>`
    } else {
        function showCartItem(LocalCart) {
            console.log('Called');
            if (LocalCart != null) {
                let html = ''
                let sum = 0
                const entries =
                    Object.entries(LocalCart)
                entries.forEach((element, index) => {
                    priceOfProduct = element[1][2].slice(2, )
                    Rate = Number(priceOfProduct)
                    No_of_items = Number(element[1][0])
                    let totelRate = Rate * No_of_items
                    let elementPrice =

                        sum += totelRate
                    html += ` <tr>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="text-sm font-medium text-gray-900">
                                    ${element[1][1]}
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="text-sm text-gray-500">${element[1][0]}</div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                    ₹ ${Rate.toLocaleString()}
                                </span>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                ₹ ${totelRate.toLocaleString()}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                <a href="#"  role="button" id ="${element[0]}" class=" Remove-item text-indigo-600 hover:text-indigo-900">Remove</a>
                            </td>
                        </tr>
            

`

                });
                let ItemsTable = document.getElementById('tbody').innerHTML = html
                document.getElementById('totelOfItems').innerHTML = `₹ ${sum.toLocaleString()}`
            }
        }
        window.addEventListener('onload', showCartItem(LocalCart))


        let removeItem = document.querySelectorAll('.Remove-item')


        function x(btn, LocalCart) {
            removeItem.forEach((btn) => {
                btn.addEventListener('click', async(e) => {
                    console.log('rounded');
                    e.preventDefault
                    await delete LocalCart[btn.id]
                    localStorage.setItem('Cart', JSON.stringify(LocalCart));
                    showCartItem(LocalCart)
                    new Noty({
                        theme: 'mint',
                        type: 'success',
                        timeout: 1000,
                        text: 'Item Removed',
                        progressBar: false,
                    }).show();
                    window.location = '/cart'
                }, true)
            })
        }
        x(removeItem, LocalCart)
    }
</script>